<a href="https://colab.research.google.com/github/YoussefGharbi-oss/PythonOnlineSession/blob/main/exercices/correction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fibonacci(n : int) :
  my_list = []
  if n == 0 :
    return my_list
  elif n == 1 :
    my_list.append(0)
    return my_list
  else :
    my_list = [0,1]
    for i in range(2,n) :
      my_list.append(my_list[-1] + my_list[-2])
    return my_list



print(fibonacci(3))

[0, 1, 1]

In [ ]:
def palindrome(my_string) :
  middle = len(my_string)//2

  for i in range(middle) :

    if my_string[i] != my_string[-1 - i] :
      return False
  return True


print(palindrome("radar"))

True

In [ ]:
def cube(x) :
  return x**3

def VolumeSphere(r) :
  pi = 3.14

  V = ((cube(r)*pi)*4)/3
  return V
rayon = float(input("Enter A Value : "))
Volume = VolumeSphere(rayon)
print(f"volume Sphere {Volume} ")

Enter A Value : 5
volume Sphere 523.3333333333334

In [ ]:
def max_three_values() :
  tries = 1
  x = int(input("Enter a value"))
  max = x
  while tries < 3 :
    x = int(input("Enter a value"))
    if x > max :
      max = x

    tries += 1

  return max


max_three_values()

Enter a value18
Enter a value52
Enter a value1250

1250

In [ ]:
def isPrime(x) :
  divisor = 2
  while divisor <= x//2 :
    if(x % divisor == 0) :
      return False

    divisor += 1
  return True

def Prime_range(Born_inf,born_sup) :
    for number in range(Born_inf,born_sup) :
      if isPrime(number) :
        print(number)


Prime_range(0,100)

0
1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
def getName() :
  Full_name = str(input('Enter Your Full Name : '))
  return Full_name

def get_distance() :
  distance = int(input('Enter Your distance : '))
  return distance

def get_burn_rate() :
  burn = int(input('Enter Your Burn rate : '))
  return burn

def calc_calories(distance,burn_rate) :
  calories = distance * burn_rate
  return calories


name = getName()
distance = get_distance()
burn = get_burn_rate()
calories = calc_calories(distance,burn)


print(f"{name} burned {calories} Today ! ")

Enter Your Full Name : Ahmed
Enter Your distance : 65
Enter Your Burn rate : 50
Ahmed burned 3250 Today !

In [ ]:
def compression(chaine) :
  compressed_string = ""
  i = 0
  while i < len(chaine) :
    count = 1
    compressed_string += chaine[i]
    j= i+1
    while j < len(chaine) and chaine[j] == chaine[i]:

      count += 1
      j+=1
    compressed_string +=  str(count)
    i+=count
  return compressed_string

compression("")

'y1o1a3u1s2e1f1'

In [ ]:
def verifyMail(email):
  spec_char = "!\"#$%&'()*+,-/:;<=>?@[\\]^_`{|}~ "
  domains_list = ["com" , "tn" , "io" , "ai" , "du" , "net"]
  if "@" not in email :
    return False

  local_part , domain_part = email.split("@")


  if len(local_part) < 3 :

    return False


  if '.' not in  domain_part :

    return False

  domain = domain_part.split(".")[1]
  for char in domain_part :
    if char in spec_char :

      return False


  if domain not in domains_list:

    return False

  if email[0] in "0123456789" or email[0] in spec_char :
    return False

  if len(email)<5 or len(email)>320 :
    return False
  return True


print(verifyMail('youssefgharbi231@esen.tn'))

True

In [ ]:
def verifyPassword(born_inf,born_sup , password) :
  for char in password :
    if char >=  born_inf and char <= born_sup :
      return True

  return False

def mesureStrengthPassword (password) :
  score = 0
  spec_char = "!\"#$%&'()*+,-/:;<=>?@[\\]^_`{|}~ "
  if len(password)> 8 :
    score += 1

  if verifyPassword("0","9" , password) :
    score += 1
  if verifyPassword("A","Z" , password) :
    score += 1
  if verifyPassword("a","z" , password) :
    score += 1

  return score

4

In [ ]:
student ={
    "name" : "ahmed" ,
    "age" : 23,
    "Note" : 15.25  ,
    "skills" : ["html" , "css" , "javascript" , "python"]
}

#Access To an element

print(student["name"])
print(student["age"])
print(student["Note"])
print(student.get("name"))
#insert an element
student["Result"] = "admis"
student
#get keys
print(student.keys())
#get Values
print(student.values())
#delete Values :
del student["Result"]
student
student.pop("Note")
student
#delete last item
student.popitem()
student


print(student.items()
)#Loop through a dict
for key in student :
  print(key, student[key])

for key,value in student.items() :
  print(key,value)

movies = {
    "movie1" : {
        "title" : "the Dark knight" ,
        "Year"  : 2009 ,
        "Rate" : 8.5
    },
      "movie2" : {
        "title" : "OpenHeimer" ,
        "Year"  : 2023 ,
        "Rate" : 9.5
    },
      "movie3" : {
        "title" : "the conjuring" ,
        "Year"  : 2014 ,
        "Rate" : 7.5
    },
}
print(movies["movie1"]["Year"])

ahmed
23
15.25
ahmed
dict_keys(['name', 'age', 'Note', 'skills', 'Result'])
dict_values(['ahmed', 23, 15.25, ['html', 'css', 'javascript', 'python'], 'admis'])
dict_items([('name', 'ahmed'), ('age', 23)])
name ahmed
age 23
name ahmed
age 23
2009