<a href="https://colab.research.google.com/github/YoussefGharbi-oss/PythonOnlineSession/blob/main/exercices/eighth_correction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TASKONe
def calculate_frequency(text) :
  occurance = {

  }
  text_list = text.lower().split()
  for word in text_list :
    if word in occurance :
       occurance[word] += 1
    else :
      occurance[word] = 1
  return occurance
calculate_frequency('lorem hbdkfl f uhfk afknaih fkhhufahkn fakfjianf af,;hhiafk af lorem hbdkfl ')

{'lorem': 2,
 'hbdkfl': 2,
 'f': 1,
 'uhfk': 1,
 'afknaih': 1,
 'fkhhufahkn': 1,
 'fakfjianf': 1,
 'af,;hhiafk': 1,
 'af': 1}

In [ ]:
#Task_TWo
def calculate_average(scores) :
  avg = {}
  for key in scores :
    moyenne = sum(scores[key]) / len(scores[key])
    avg[key] = moyenne

  return avg

#or
def calculate_average_two(scores) :
  avg = {}
  for key in scores :
    moyenne = 0
    for item in scores[key] :
      moyenne += item / len(scores[key])
    avg[key] = moyenne
  return avg


scores = {
    "Emnna" : [15,18,12,8] ,
    "youssef": [5,15,13,16] ,
    "ali" : [10,9,8,7]

}
calculate_average(scores)
#or
calculate_average_two(scores)

{'Emnna': 13.25, 'youssef': 12.25, 'ali': 8.5}

In [ ]:

scores_etudiant = {
    "ahmed" : 13.25 ,
    "Emna " : 15.75 ,
    "alex" : 8
}
for key in scores_etudiant :
  print(key)
moyenne = 0
for key in scores_etudiant :
  moyenne += scores_etudiant[key]
print(f"le moyenne de classe est {moyenne/len(scores_etudiant)}")

ahmed
Emna
alex
le moyenne de classe est 12.333333333333334

In [ ]:
nations = {
    "Germany" : "berlin" ,
    "Brezil" : "Rio di jinero" ,
    "Tunisia" : "tunis" ,
    "France" : "Paris" ,
    "algerie" : "alger"
}
for key,value in nations.items() :
  print(f"pays est {key} capitale esy {value}")

for key,value in nations.items() :
  if key[0].lower() == "A" :
    print(f"pays est {key} capitale esy {value}")

pays est algerie capitale esy alger

In [ ]:
def get_value_inventory(inventory) :
  total_value = 0
  for key,value in inventory.items() :
    total_value += value['prix'] * value['quantité']
  return total_value

def out_of_stock(inventory) :
  for key,value in inventory.items() :
    if value["quantité"] < 5 :
      print(value["nom"])


inventory = {
    "article1" : {
      "nom" :"ChocoTom" ,
      "prix" : 1700 ,
      "quantité" : 4
    },
      "article2" : {
      "nom" :"gaufrette" ,
      "prix" : 1200 ,
      "quantité" : 10
    },
      "article3" : {
      "nom" :"eau" ,
      "prix" : 900 ,
      "quantité" : 4
    },
}

print(get_value_inventory(inventory))

22400
ChocoTom
eau
None