<a href="https://colab.research.google.com/github/YoussefGharbi-oss/PythonOnlineSession/blob/main/src/Fifth_session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#----------List--------
#-------List are ordred--------
#-------List are mutable------- ADD , Remove , Edit
#List elements have Different types

In [ ]:
#Creation List
my_Awsome_List = [1,2,3,"Emna " ,[1,2,3] , 3.14 , True , None , (1,5,6)]
my_Awsome_List

[1, 2, 3, 'Emna ', [1, 2, 3], 3.14, True, None, (1, 5, 6)]

In [ ]:
#Indexation
my_Awsome_List = [1, 2, 3, "Emna " , [1,2,3] , 3.14 , True , None , (1,5,6)]
my_list = [[1,2,3],[1,2,3],[1,2,3]]

print(my_Awsome_List[0])
print(my_Awsome_List[-1])
print(my_Awsome_List[2])
print(my_Awsome_List[-3])
print(my_Awsome_List[4][-2])
print(my_list[2][-1])

1
(1, 5, 6)
3
True
2
3

In [ ]:
my_songs = ["blinding lights" , "billie jeans " , "the conquest of paradise"]
print(my_songs[::-1])
print(my_songs[2])

['the conquest of paradise', 'billie jeans ', 'blinding lights']
the conquest of paradise

In [ ]:
#Slicing [start:End:Step]
my_songs = ["blinding lights" , "billie jeans " , "the conquest of paradise" , "Today was a good day" , "sing for the moment ","beautiful"]
my_songs[::] #output list
my_songs[::2] #display by 2
my_songs[0:3:1] #isplay the first 3 items
my_songs[1:] #diplay from the second position

['billie jeans ',
 'the conquest of paradise',
 'Today was a good day',
 'sing for the moment ',
 'beautiful']

In [ ]:
#Exercice 2
my_numbers_list = [5,8,9,17, 9*5 , 8//2]
print(my_numbers_list[1:3])
print(sum(my_numbers_list[0:2]))

[8, 9]
13

In [ ]:
#List Methods
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
#Append : Add a New element
my_list = ["purple" , "green" , "brown"]
#Add Red
my_list.append("red")
my_list

['purple', 'green', 'brown', 'red']

In [ ]:
#insert : Insert Element to a specific position
my_list .insert(1,"grey")
my_list

['purple', 'grey', 'grey', 'green', 'brown', 'red']

In [ ]:
#extend
my_list = ["purple" , "green" , "brown"]
lights = ['white' , 'black']
my_list.extend(lights)
my_list

['purple', 'green', 'brown', 'white', 'black']

In [ ]:
#index : return index of an element
my_list = ["purple" , "green" , "brown"]
my_list.index("brown")

2

In [ ]:
#pop return element and remove it
my_list = ["purple" , "green" , "brown"]
my_list.pop(-1)
my_list

['purple', 'green']

In [ ]:
#count
my_list = ["purple" , "green" , "brown" , "brown"]
my_list.count("brown")

2

In [ ]:
#Remove :Remove an element

my_list.remove("green")
my_list

['purple']

In [ ]:
#reverse
my_list = ["purple" , "green" , "brown" , "brown"]
my_list.reverse()
my_list

['brown', 'brown', 'green', 'purple']

In [ ]:
#clear : Clear all the element
my_list.clear()
my_list

[]

In [ ]:
#Exerice 3
my_movies = ["The godfather" , "The Dark knight" , "the heat " , "Dance life "]
my_movies.append("openheimer")
my_movies[1] = "kick boxer"
my_movies.pop(-1)
my_movies

['The godfather', 'kick boxer', 'the heat ', 'Dance life ']

#create list of songs
append a new song
input an song by user
insert this song to third position
input song
remove it from the list
display the final list

In [ ]:
#Sort
my_numbers = [5,18,20,16,14,1,2,4]
my_numbers.sort()
my_numbers

[1, 2, 4, 5, 14, 16, 18, 20]

In [ ]:
#concatination
my_list_one =[
  "Ahmed " ,
  True ,
  [5,4,7]
]
my_list_two = [5,7,8,9,]
my_list = my_list_one + my_list_two
my_list.reverse()
my_list

[9, 8, 7, 5, [5, 4, 7], True, 'Ahmed ']

In [ ]:
#Repeatition
repeated_list = [1,2,5,6] * 3
repeated_list

[1, 2, 5, 6, 1, 2, 5, 6, 1, 2, 5, 6]

In [ ]:
my_list_one =[
  "Ahmed" ,
  True ,
  [5,4,7]
]
print("Ahmed" in my_list_one)
print(5 in my_list_one[2])

True

Create Two lists (types)
concatinate
sort it
reverse it
input a value
verif if this Value in List
display final List

In [ ]:
list_one = [1,3,8,5]
list_two = [8,9,5,7]
my_list = list_one + list_two
my_list.sort()
my_list.reverse()
item = int(input("Enter A value : "))
if item in my_list :
  print("Exist")
else :
  print("not Found")
print(my_list)

Enter A value : 9
Exist
[9, 8, 8, 7, 5, 5, 3, 1]

In [ ]:
#Maximum
list_one = [1,3,8,5]
print(max(list_one))

8

In [ ]:
#minimum
list_one = [1,3,8,5]

min_item = min(list_one)
list_one.remove(min_item)
list_one

[3, 8, 5]

In [ ]:
#somme
print(sum(list_one))

17

In [ ]:
#length
print(len(list_one))

4

In [ ]:
numbers = [1,2,6,7]
value = int(input("Enter a value : "))
numbers.append(value)
minimum = min(numbers)
maximum = max(numbers)
somme = sum(numbers)
length = len(numbers)
print(f"{numbers} has a minmum :  {minimum} and a maximum : {maximum} and a sum :{somme} and a length : {length}")
numbers.remove(minimum)
numbers

Enter a value : 14
[1, 2, 6, 7, 14] has a minmum :  1 and a maximum : 14 and a sum :30 and a length : 5

[2, 6, 7, 14]

Create List of numbers
input
append a new item
display min , max , sum , len
remove index min