<a href="https://colab.research.google.com/github/YoussefGharbi-oss/PythonOnlineSession/blob/main/src/Fourth_session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tuples :
my_tuple = ()
my_tuple

()

In [ ]:
#donnes (ENtier , string , float , bool )
number_tuple = (5,6,7,8,9)
string_tuple = ("Emna" , "Rahmoune")
float_tuple = (3.14 , 2.72 )
print(number_tuple)
print(string_tuple)
print(float_tuple)

(5, 6, 7, 8, 9)
('Emna', 'Rahmoune')
(3.14, 2.72)

In [ ]:
#never modified  a tuple after  create
number_tuple = (5,6,7,8,9)

In [ ]:
days = ("lundi" ,"mardi", "mercredi" , "Jeudi" ,"Vendredi" ,"samedi" , "Diamanche")
cord = (5,6)
personne = ("Youssef" , 16 , "youssef.gharbi@esen.tn")
print(days)
print(cord)
print(personne)

('lundi', 'mardi', 'mercredi', 'Jeudi', 'Vendredi', 'samedi', 'Diamanche')
(5, 6)
('Youssef', 16, 'youssef.gharbi@esen.tn')

In [ ]:
#unpacking
my_values  = (3.15,2.0,5.5)
a,b,c = my_values
print(a)
print(b)
print(c)
somme = a+b+c
print(somme)

3.15
2.0
5.5
10.65

In [ ]:
#packing
x = int(input("Enter a value"))
y = int(input("enter a value "))
my_tuple = x,y
print(my_tuple)

Enter a value41
enter a value 15
(41, 15)

In [ ]:
#indexation
my_tuple = (1, 2, 3, 4 )

my_tuple[0]
my_tuple[-1]
#slicing
my_tuple[::2]
#reversing_tuple
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(4, 3, 2, 1)

In [ ]:
#les methodes Tuples :
#count Method
my_tuple = (1, 2, 3, 4 , 4 , 6 , 7 , -1 , 4 , 2 )
value = my_tuple.count(2)
print(value)
#index method
index = my_tuple.index(2) #retourner le premier indice
print(index)

2
1

In [ ]:
temp = (28, 15, -6, 45 )
reversed_tuple = temp[::-1]
second_item = temp[1]