<a href="https://colab.research.google.com/github/YoussefGharbi-oss/PythonOnlineSession/blob/main/src/sixith_sessions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#les Boucles ----------------
# loops : iteration ---------
# loops are available in all langauge programming : python , c , java , javascript , c++ , c# , pascal
#for  ------------------------
#while ------------------
#syntax for looop
#for item in seaquence(string , list , tuple ,iterables )
"""for item in sequence :
  print()
  somme
  multiplication
  for
"""

etudiant1
etudiant1
etudiant1
etudiant1
etudiant1

In [4]:
#String :
for i in "Emna" :
  if i in  "Ea" :
    print(i)

E
a

In [6]:
#list
my_list = ["banana" , "cerise " , "apricot"]
for fruit in my_list :
  for char in fruit :
    print(char.upper())

B
A
N
A
N
A
C
E
R
I
S
E

A
P
R
I
C
O
T

In [7]:
#tuple
my_Awsome_tuple = (1,2,5,6,8)
for i in my_Awsome_tuple :
  print(i)

1
2
5
6
8

In [12]:
 #1,2,3,4,5,6,7,8,9,10
for item in range(0,100,4) :
  print(item)

0
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

In [17]:
#break
for i in "Emna" :
  print(i)
  if i == "m" :
    print(i)
    break

E
m
m

In [18]:
for i in range(2,21,2) :
  print(i)

2
4
6
8
10
12
14
16
18
20

In [20]:
for i in range(2,21) :
  if i % 2 == 0 :
    print(i)

2
4
6
8
10
12
14
16
18
20

In [31]:
somme = 1
for item in range(1,11) :
  if item % 2 == 0:
    somme  +=  item
else :
  print("Loop is Done")
print(somme)

Loop is Done
0.00026041666666666666

In [34]:
number = int(input("Enter a value : "))
for index in range (1,11) :
  print(f"{index} * {number} = {index*number}")

Enter a value : 5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [37]:
my_values = [1,2,3,5,7,8,9]

for item in my_values[::-1] :
  print(item)

9
8
7
5
3
2
1

In [46]:
my_string = "Youssef"
for index in range(0,len(my_string)-1) :
  print(my_string[index])

Y
o
u
s
s
e

In [50]:
#Looop : While ------------------------
#Syntax : while


while True :
  Value = int(input("Enter a value : "))


  if Value < 0 :
    break

Enter a value : 5
Enter a value : 6
Enter a value : 7
Enter a value : 8
Enter a value : 7
Enter a value : -1

In [54]:
value = int(input('Enter A Value : '))
somme = 0
while value != 0 :
  chiffre = value%10
  somme += chiffre
  value = value //10

else :
  print("Value Become 0")

print(somme)

Enter A Value : 3450
Value Become 0
12